<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sign_up.css">
    </head>
    <body>
        <main>
            <div id="leftDiv">
                <h1>Welcome</h1>
            </div>
            <div id="rightDiv">
                <h1>Sign up</h1>
                <form id="form">
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email" placeholder="Your email...">
                    </div>
                    <div>
                        <label for="firstName">First name:</label>
                        <input type="text" name="firstName" placeholder="Your first name...">
                    </div>
                    <div>
                        <label for="middleInitial">Middle initial:</label>
                        <input type="text" name="middleInitial" placeholder="Your middle initial...">
                    </div>
                    <div>
                        <label for="lastName">Last name:</label>
                        <input type="text" name="lastName" placeholder="Your last name...">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="text" name="password" placeholder="Your password...">
                    </div>
                    <div>
                        <label for="street">Street:</label>
                        <input type="text" name="street" placeholder="The name of your street...">
                    </div>
                    <div>
                        <label for="city">City:</label>
                        <input type="text" name="city" placeholder="The name of your city...">
                    </div>
                    <div>
                        <label for="state">State:</label>
                        <input type="text" name="state" placeholder="Your state (ex: Madrid)...">
                    </div>
                    <div>
                        <label for="zip">Zip:</label>
                        <input type="text" name="zip" placeholder="Your zip code...">
                    </div>
                    <div>
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" placeholder="Your phone number...">
                    </div>
                    <input id="button" type="submit" value="Sign up">
                    <a href="./sign_in.html">Already have an account?</a>
                </form>
                <script type="module">
                    import create_customer from "../util/create_customer.js";
                    document.getElementById('form').addEventListener('submit', (event) => {
                            event.preventDefault(); // prevent form submit
                            const form = event.target;
                            let customer = {
                                email: form.email.value,
                                firstName: form.firstName.value,
                                middleInitial: form.middleInitial.value,                    
                                lastName: form.lastName.value,
                                password: form.password.value,
                                street: form.street.value,
                                city: form.city.value,
                                state: form.state.value,
                                zip: form.zip.value,
                                phone: form.phone.value
                            };
                            try {
                                document.querySelectorAll('#input_error').forEach(input => input.id = '');
                                document.getElementById('form').querySelectorAll('span').forEach(span => span.remove());
                                let emailRegex = new RegExp(/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/);
                                let passwordRegex = new RegExp(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{5,20}$/);
                                let phoneRegex = new RegExp(/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/);
                                if (!emailRegex.test(customer.email)) {
                                    throw {input: "email", message: "Email not valid."};
                                }
                                if (customer.firstName > 255 || customer.firstName == '' || customer.firstName.includes('\'')) {
                                    throw {input: "firstName", message: "Your first name is not valid."}
                                }
                                if (customer.middleInitial.length != 1 || !customer.middleInitial.match(/[a-z]|[A-Z]/)) {
                                    throw {input: "middleInitial", message: "Your middle initial is not valid.\nIt should be 1 alphabetic character."}
                                }
                                if (customer.lastName > 255 || customer.lastName == '' || customer.lastName.includes('\'')) {
                                    throw {input: "lastName", message: "Your last name is not valid."}
                                }
                                if (!passwordRegex.test(customer.password)) {
                                    throw {input: "password", message: "Your password has to be between 5 and 20 characters.\nIt should have at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character."};
                                }
                                if (customer.street > 255 || customer.street == '' || customer.street.includes('\'')) {
                                    throw {input: "street", message: "Your street is not valid."}
                                }
                                if (customer.city > 255 || customer.city == '' || customer.city.includes('\'')) {
                                    throw {input: "city", message: "Your city is not valid."}
                                }
                                if (customer.state > 255 || customer.state == '' || customer.state.includes('\'')) {
                                    throw {input: "state", message: "Your state is not valid."}
                                }
                                if (customer.zip > 255 || customer.zip == '' || customer.zip.includes('\'')) {
                                    throw {input: "zip", message: "Your zip is not valid."}
                                }
                                if (!phoneRegex.test(customer.phone)) {
                                    throw {input: "phone", message: "Your phone is not valid."}
                                }
                                create_customer(customer);
                            } catch (err) {
                                form[`${err.input}`].id = "input_error";
                                const error_message = document.createElement('span');
                                error_message.style = 'color:red;';
                                error_message.innerText = err.message;
                                error_message.id = err.input;
                                if (!document.getElementById(`${err.input}`)) {
                                    form[`${err.input}`].parentNode.appendChild(error_message);
                                }
                                console.log(`input: ${err.input}, message: ${err.message}`);
                            }
                        }
                    )
                    /*  Customer mockup data:  
                            city: "New York"
                            email: "jsmith@enterprise.net"
                            firstName: "John"
                            id: 102263301
                            lastName: "Smith"
                            middleInitial: "S."
                            password: "abcd*1234"
                            phone: 15556969699
                            state: "New York"
                            street: "163rd St."
                            zip: 10032
                    */
                </script>
            </div>
        </main>
    </body>
</html>