<!DOCTYPE html>

<head>
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/change_password.css">
    

</head>

<body>
    <div class="contenedor">

        <h1>Change password </h1>
        <form class="form">

            <label for="ActualPassword">Current password</label>
            <input id="ActualPassword" name="ActualPassword" type="password" />

            <label for="NewPassword">New password</label>
            <input id="NewPassword" name="NewPassword" type="password" />

            <label>Confirm password</label>
            <input type="password" />

            <input class="button" type="submit" value="Submit" />
        </form>
    </div>

</body>

</html>