<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/sign_up.css">
    </head>
    <body>
        <main>
            <div class="leftDiv">
                <h1>Welcome</h1>
            </div>
            <div class="rightDiv">
                <h1>Sign up</h1>
                <form class="form" action="">
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" placeholder="Tu email...">
                    </div>
                    <div>
                        <label for="firstName">Nombre:</label>
                        <input type="text" placeholder="Tu nombre...">
                    </div>
                    <div>
                        <label for="middleInitial">Segundo nombre:</label>
                        <input type="text" placeholder="La inicial de tu segundo nombre...">
                    </div>
                    <div>
                        <label for="LastName">Apellido:</label>
                        <input type="text" placeholder="Tu apellido...">
                    </div>
                    <div>
                        <label for="password">Contraseña:</label>
                        <input type="text" placeholder="Tu contraseña...">
                    </div>
                    <div>
                        <label for="street">Calle:</label>
                        <input type="text" placeholder="El nombre tu calle...">
                    </div>
                    <div>
                        <label for="city">Ciudad:</label>
                        <input type="text" placeholder="El nombre de tu ciudad...">
                    </div>
                    <div>
                        <label for="state">Provincia:</label>
                        <input type="text" placeholder="La provincia a la que perteneces (ej: Madrid)...">
                    </div>
                    <div>
                        <label for="zip">Codigo postal:</label>
                        <input type="text" placeholder="Tu codigo postal...">
                    </div>
                    <div>
                        <label for="phone">Telefono:</label>
                        <input type="text" placeholder="Tu numero de telefono...">
                    </div>
                    <input class="button" type="submit" value="Sign up">
                    <a href="./sign_in.html">¿Ya tienes una cuenta?</a>
                </form>
            </div>
        </main>
    </body>
</html>